/* Master styles */
:root {
    --page_width: calc(0.5 * (100vw - (100vw - 100%)));
    /*calc(100vw - (100vw - 100%))*/
    /*calc(0.5 * (100vw - (100vw - 100%)))*/
  }

body {
    margin: 0px;
    font-family: "Roboto";
    font-weight: 100;
    background-color: #242424;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* TOP NAVBAR */
.navbar-top{
    position: fixed;
    z-index: 200;
    left: 0;
    right: 0;
    bottom: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    pointer-events: none;
    transition: 0.2s;
    background-color: #c6c6c60e;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    max-width: var(--page_width);
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left-side {
    display: flex;
    pointer-events: auto;
    margin-top: 3px;
    font-weight: 1000;
    font-size: 1em;
    letter-spacing: .8px;
}

.center-side {
    pointer-events: auto;
    display: flex;
    font-size: 1em;
}

.right-side {
    display: flex;
    pointer-events: auto;
    margin-top: 3px;
    font-weight: 1000;
    font-size: 1em;
    letter-spacing: .8px;
    margin-left: 10%;
}

.change-color {
    background-color: transparent;
}

.nav-link-wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link-wrapper a{
    position: bottom;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s color;
    color: #C6C6C6;
}

.nav-link-wrapper a:hover{
    cursor: pointer;
    color:seashell;
}

.button{
    display: inline-block;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto";
    font-weight: 100;
    border: none;
    border-radius: 20px;
    text-align: center;
    transition:color 1s;
    transition:background-color .5s;
    color: seashell;
    background-color: #404040;
}

.button:hover{
    cursor: pointer;
    color:seashell;
    background-color: #5f5f5f;
}

/******************************************************************************************************/
/******************************************************************************************************/
/* MAIN */

.main{
    display: grid;
    grid-template-columns: 1fr var(--page_width) 1fr;
    height: 100vh;
}

.main-container{
    position:relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 2;
    margin: 10px;
    font: 7vh 'Roboto';
    font-weight: 500;
    color: seashell;
    animation: fadein .5s;
}

.image-container{
    position: relative;
    grid-column-start: 1;
    margin-right: 10px;
}

.main-colored {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100%;
    top: 30vh;
    border-radius: 30px;
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.main-colored:hover{
    cursor: pointer;
    filter: grayscale(0%);
}

.main-name{
    position: absolute;
    grid-column-start: 1;
    width: 100%;
    top: 61.5vh;
    word-wrap: break-word;
    font-size: 50%;
    font-weight: 300;
}

.title-container{
    position: relative;
    grid-column-start: 2;
    margin-left: 10px;
}

.main-title{
    position: absolute;
    grid-column-start: 2;
    height: 30vh;
    width: 200%;
    padding-top: 10px;
    top: 30vh;
    line-height: 1.3em;
    word-wrap: break-word;
    font-size: 80%;
    text-transform: uppercase;
}

.colored{
    color: #C85700
}

/******************************************************************************************************/
/******************************************************************************************************/

/* PORTFOLIO */
.portfolio{
    position: relative;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    background-color: #1C1C1C;
}


.portfolio-title{
    position: relative;
    align-items: center;
    top: 12.5%;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    color: seashell;
}

.slideshow-container {
    position: relative;
    top: 25%;
    max-width: 90vw;
    margin: auto;
    
}

img {
    object-fit: cover;
    height: 100%;
}

.mySlides {
    cursor: pointer;
    display: none;
    height: 50vh;
    transition: 1s ease;
    filter: opacity(75%);
}

.mySlides:hover {
    filter:opacity(100%)
}

.prev, .next {
    position: absolute;
    cursor: pointer;
    user-select: none;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    border-radius: 0 3px 3px 0;    
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    top: 50%;
}

.next {
    border-radius: 3px 0 0 3px;
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    position: absolute;
    width: 100%;
    bottom: 45%;
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    color: #f2f2f2;
}

.numbertext {
    position: absolute;
    top: 0;
    padding: 8px 12px;
    font-size: 12px;
    color: #f2f2f2;
}

.dot {
    position:relative;
    display: inline-block;
    cursor: pointer;
    top: 25vh;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    background-color: #bbb;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/******************************************************************************************************/
/******************************************************************************************************/
/* TIMELINE*/
.timeline{
    position: relative;
    height: 2100px;
    background-color: #333333;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
}
.timeline-title-fixed{
    position: fixed;
    visibility: hidden;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform-origin: center;
    height: 217.25px;
    left: 50%;
    top: 50%;
    font-size: 4em;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: -40px;
    color: seashell;
}

.timeline-title-absolute > .timeline-title-top{
    position: absolute;
    transform: translateX(-50%) rotate(-90deg);
    transform-origin: center;
    height: 217.25px;
    left: 50%;
    top: 493px;
    font-size: 4em;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: -40px;
    visibility: visible;
    color: seashell;
}

.timeline-title-absolute > .timeline-title-bottom{
    position: absolute;
    transform: translateX(-50%) rotate(-90deg);
    transform-origin: center;
    height: 217.25px;
    left: 50%;
    top: 1625px;
    font-size: 4em;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: -40px;
    visibility: visible;
    color: seashell;
}

.timeline-title-absolute > .int-box-top{
    position: absolute;
    width:100%;
    height: 1px;
    top: 760px;
}

.timeline-title-absolute > .int-box-bottom{
    position: absolute;
    width:100%;
    height: 1px;
    top: 1893px;
}

.timeline-img{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 400px;
}

.data-container{
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    position: relative;
    color: seashell;
}

.education-container{
    display: flex;
    grid-column-start: 1;
    position: relative;
    flex-direction: column;
}

.experience-container{
    display: flex;
    grid-column-start: 3;
    position: relative;
    flex-direction: column;
}

.education-title{
    grid-column-start: 1;
    position: absolute;
    font-size: 1.5vw;
    font-weight: 700;
    text-transform: uppercase;
    top: 250px;
    width: 100%;
}

.experience-title{
    text-align: right;
    grid-column-start: 2;
    position: absolute;
    font-size: 1.5vw;
    font-weight: 700;
    text-transform: uppercase;
    top: 250px;
    width: 100%;
}

.education{
    position: relative;
    border-radius: 20px;
    padding:10px;
    background-color: gray;
}

.experience{
    position: relative;
    border-radius: 20px;
    padding:10px;
    background-color: gray;
}

.education-container > .education > h1{
    font-size: 1em;
    font-weight: 500;
}

.experience-container > .experience > h1{
    font-size: 1em;
    padding:0;
    font-weight: 500;
}

.education-container > .education > h2{
    font-size: .9em;
    position: relative;
    font-weight: 100;
}

.experience-container > .experience > h2{
    font-size: .9em;
    position: relative;
    font-weight: 100;
}

.education > h2{
    position: absolute;
    bottom: 10px;
}

.experience > h2{
    position: absolute;
    bottom: 10px;
}

.education-container > .education > button{
    position: absolute;
    display: inline-block;
    font-family: "Roboto";
    font-weight: 100;
    border: none;
    border-radius: 20px;
    padding: 5px 40px;
    transform: translate(-50%);
    left: 50%;
    bottom: -10px;
    text-decoration: none;
    transition:color 1s;
    transition:background-color .5s;
    color: seashell;
    background-color: #404040;
}

.experience-container > .experience > button{
    position: absolute;
    display: inline-block;
    transform: translate(-50%);
    left: 50%;
    bottom: -10px;
    font-family: "Roboto";
    font-weight: 100;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 5px 40px;
    transition:color 1s;
    transition:background-color .5s;
    color: seashell;
    background-color: #404040;

}

.education-container > .education > button:hover{
    cursor: pointer;
    color: white;
    background-color: #5f5f5f;
}

.experience-container > .experience > button:hover{
    cursor: pointer;
    color: white;
    background-color: #5f5f5f;
}

.education-container > .n1{
    position: absolute;
    top: 490px;
}

.education-container > .n2{
    position: absolute;
    top: 960px;
}

.education-container > .n3{
    position: absolute;
    top: 1130px;
}

.education-container > .n4{
    position: absolute;
    top: 1500px;
}

.education-container > .n5{
    position: absolute;
    top: 1830px;
}

.experience-container > .n1{
    position: absolute;
    top: 670px;
}

.experience-container > .n2{
    position: absolute;
    top: 960px;
}

.experience-container > .n3{
    position: absolute;
    top: 1300px;
}

/***************************************************/
/* SKILLS */
.skills{
    position: relative;
    height: 1600px; 
    width: 100%;
    color: seashell;
    background-color: #242424;
}

.top-container{
    position: absolute;
    display: contents;
    text-align: center;
}

.title{
    position: relative;
    text-transform: uppercase;
    font-size: 1.2em;
}

.skills-title{
    position: absolute;
    transform: translate(-50%);
    top: 10%;
    left: 50%;
    font-size: 4em;
    color: #C85700;
}

.software-title{
    position: absolute;
    transform: translate(-50%);
    top: 40%;
    left: 50%;
    color: #C85700;
    font-size: 4em;
}

.top-container > #questions_test{
    position: absolute;
    transform: translate(-50%);
    line-height: 50%;
    top: 23%;
    left: 50%;
    width: 250px;
    padding: 20px;
    border-radius: 25px;
    font-weight: 100;
    font-size: 1.5em;
    background-color: #474747c2;
}

.top-container > .explanations{
    position: absolute;
    transform: translate(-50%) scale(1.5);
    transform-origin: center;
    width: 250px;
    top: 23%;
    height: 168px;
    left: 50%;
    padding: 20px;
    border-radius: 25px;
}

.explanations{
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    width: 100%;
    height: 50%;
}

.explanations > .left{
    position: relative;
    grid-column-start: 1;
}

.explanations > .left > div{
    position: absolute;
    width: 50%;
    right: 0;
    top: 46%;
    text-align: left;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background-color: rgb(110, 111, 133);
}

.explanations > .left > div > p{
    text-align: justify;
}

.explanations > .right{
    grid-column-start: 3;
    position: relative;
}

.explanations > .right > div{
    position: absolute;
    width: 50%;
    text-align: left;
    top: 46%;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background-color: rgb(110, 111, 133);
}

.explanations > .right > div > p{
    text-align: justify;
}

.visible_test{
    opacity: 1;
    transition: opacity .5s;
}

.invisible_test{
    opacity: 0;
    transition: opacity .5s; 
}

.bottom-container{
    position: relative;
    top: 50%;
    width: 100%;
    height: 50%;
}

.bottom-container > .left-container {
    position: absolute;
    width: 50%;
    height: 100%;
}

.bottom-container > .right-container {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
}

.bottom-container > .left-container > .experienced-questions{
    position: relative;
    width: 100%;
    height: 100%;
}

.bottom-container > .right-container > .starter-questions{
    position: relative;
    width: 100%;
    height: 100%;
}

.experienced-questions > .experienced-container{
    position: absolute;
    text-align: center;
    margin-right: 10%;
    right: 0;
    top: 10%;
}

.starter-questions > .starter-container{
    position: absolute;
    text-align: center;
    padding-left: 10%;
    top: 10%;
}

.experienced-container > h1{
    text-transform: uppercase;
    padding: 25px;
    border-radius: 25px;
    background-color: #747474;
}

.starter-container > h1{
    text-transform: uppercase;
    padding: 25px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 25px;
    background-color: #747474;
}

.categories{
    background-color: #474747;
    padding: 15px;
    border-radius: 25px;
    font-size: 1.5em;
}

.categories > p{
    line-height: 50%;
}

.visible{
    position: absolute;
    opacity: 1;
    bottom: 0;
    height:70.5%;
    width: 208px;;
    text-align: justify;
    border-radius: 25px;
    padding: 25.5px;
    transition: color 1s;
    transition: opacity 1s;
    background-color: rgb(110, 111, 133);
}

.experienced-container > .info-categories > .visible{
    right: 0;
}

.visible > h1{
    font-size: 1.2em;
}

.visible > p > strong{
    font-weight: 500;
}

.invisible{
    position: absolute;
    opacity: 0;
    text-align: center;
}

/***************************************************/

/* WORLD */
.world{
    height: 100vh;
    background-color: black;
    vertical-align: center;
}

/*https://stackoverflow.com/questions/48360010/iframe-position-in-center/48360051*/
iframe {
    margin: auto;
    width: 100%;
    height: 100vh;
    display: block;
  }


/* Bottom navbar styles */

/*Effects*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-width: 1100px) {
    .nav-container{
        max-width: calc(100vw - (100vw - 100%));
    }

    .main{
        grid-template-columns: 0fr calc(100vw - (100vw - 100%))fr 0fr;
    }
    .timeline{
        grid-template-columns: .1fr 1fr .1fr;
    }
    
}