#Animation{
    // Move top project down
    #project-1{
        @extend .project-1-layout;

        // Remove the extension button
        details{
            summary{
                &:after {
                    display: none;
                }
            }
        }
    }

    #project-2{
        @extend .project-2-layout;
        padding-top: 0px;

        video{
            grid-column-start: var(--imageColumn) !important;
            grid-row-start: 1;
            padding-left: 10px;
            width: 100%;
        }

        .projectDescription{
            grid-column-start: 1 !important;
        }
    }
}
