#Architecture{
    // Move top project down
    #project-1{
        @extend .project-1-layout;

        .projectDescription{
            top: 100px !important;
        }
    }
    
    #project-2{
        @extend .project-2-layout;
        padding-top: 0;
        padding-bottom: 50 !important;

        .contentMiddle{
            border-style: solid;
            padding: 5px;
            padding-bottom: 0;
            border-width: 1px;
            border-color: rgba(255, 245, 238, 0.116)
        }

        // Remove the extension button
        details{
            summary{
                &:after {
                    display: none;
                }
            }
        }
    }   
}