#Computational{
    // Move top project down
    #project-1{
        @extend .project-1-layout;

    }
    
    #project-2{
        @extend .project-2-layout;

        color: $textColorAlternative !important;
        background-color: $backgroundColorAlternative !important;

        .projectTitle{
            h2{
                color: $textColorAlternative;
            }
        }
    
        .descriptionTitle{
            color: $textColorAlternative;
        }
    
        details{
            summary{
                &:after {
                    color: $textColorAlternative;
                }
    
                &:hover:after{
                    color: #C85700;
                }
            }
        }
    }
}