#Programming{
    // Move top project down
    #project-1{
        @extend .project-1-layout;

        // Remove the extension button
        details{
            summary{
                &:after {
                    display: none;
                }
            }
        }
    }
    
    #project-2{
        @extend .project-2-layout;
        padding-top: 0;
        padding-bottom: 0;

        .contentMiddle{
            padding: 5px;
            padding-bottom: 20px;
        }
    }

    #project-3{
        padding-top: 50px;

        @extend .project-3-layout;

        // Remove the extension button
        details{
            summary{
                &:after {
                    display: none;
                }
            }
        }
    }
}

// Here is all the project information that should be changed
// when clicked on next button.
.personal-project-2{
    .projectDescription{
        .name{
            @include replaceText('Compliments Generator');
        }

        .year{
            @include replaceText('2020-2021');
        }

        .software{
            @include replaceText('Python 3, Arduino');
        }
    }

    .textAdditionalInformation{
        @include replaceText('Living together with 7 housemates is amazing, but can also give you headaches sometimes. Since I live exactly next to our front door, I always have the privilege being the first one to hear my housemates coming home in the most bombastic way that you can think off. After telling they are home, of course, they also expect me to say something back.\A \A To solve this terribly serious problem, I decided to build a compliment generator that gives my housemate a compliment when he or she comes home. The project was build using an old laptop from 2011, Arduino, many lines of Python code, but most of all: a lot of fun!');
    }
}

.personal-project-3{
    .projectDescription{
        .name{
            @include replaceText('Autosolver Diesgame');
        }

        .year{
            @include replaceText('2021');
        }

        .software{
            @include replaceText('Python 3');
        }
    }

    .textAdditionalInformation{
        @include replaceText('During the dies celebration of student association C.S.R. Delft, students were challenges to find out more secret information by finishing a maze game. After trying for a while, it became apparent that this game would never be solvable by a human being, in a reasonable time. Since hacking the game did not seem like a reasonable solution, it was necessary to find another smarter solution.\A\ATo solve this problem I developed a Python solver that simulates clicking behaviour of a player. By finding out the time pattern of the game, it was possible to optimize the gameplay. After three days of running the script, the game was finished. Unfortunately… the secret hint was not very useful...');
    }
}