// MAKE SURE TO ALSO CHANGE THE ORDER OF ELEMENTS IN HTML

.project-2-layout{
    padding-top: 100px;
    
    .projectTitle{
        text-align: right;
    }

    .topContent{
        grid-template-columns: var(--gridDistributionAlternative) !important;
        grid-template-rows: var(--rowDistributionAlternative);

        img{
            grid-column-start: var(--imageColumn) !important;
            grid-row-start: 1;
        }

        .projectDescription{
            grid-column-start: 1 !important;
            grid-row-start: var(--descriptionRow);
            padding-left: 0;
        }
    }

    .bottomContent{
        details{
            summary{
                &:hover:after{
                    color: #C85700;
                }
            }
        }
    }
}