
details{
    padding-bottom: 60px;

    summary{
        list-style: none;

        &:after {
            cursor: pointer;
            position: absolute;
            margin: 0;
            content: "\276F";
            font-size: 2em;
            transform-origin: center;
            transform: translateX(-50%) rotate(90deg);
            left: 50%;
            bottom: 0;
            transition: 0.5s ease;
            color: $textColorBase;
        }

        &:hover:after{
            color: $markerColor;
        }
    }
}

details[open] summary:after{
    content: "\276E";
}
