#pageTitleContainer{
    p {
        font-weight: bold;
        font-size: var(--fontSizePageTitle) !important;
        text-transform: uppercase;
        opacity: 10%;
    }
}

.projectTitle{
    h1{
        text-transform: uppercase;
        font-size: var(--fontSizeProjectTitle);
    }

    h2{
        font-weight: 300;
        font-size: var(--fontSizeSubtitle);
        color: var(--textColorAlternativeLight);
    }
}

.projectDescription{
    font-weight: 300;
    font-size: var(--fontSizeProjectDescription);
    color: $textColorAlternativeLight;

    .descriptionTitle{
        color: $textColorBase;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.additionalTitle{
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--fontSizeAdditionalTitle);
}

.additionalInformation{
    font-weight: 300;
    font-size: var(--fontSizeAdditionalInformation);
    color: $textColorAlternativeLight;
}

footer{
    font-size: var(--fontSizeFooter);
    font-weight: 300;
    color: var(--textColorBase);
}