//General layout of page
html{
    font-size: 1em;
}

body {
    // position: relative;
    margin: 0px;
    color: $textColorBase;
    height: 100%;
    background-color: $backgroundColorBase;
    overflow-x: hidden;

    #container{
        font-family: "Roboto";
        position: relative;
    }
}