/* COMPUTATIONAL STYLESHEET*/
.comp-page-container{
    display: none;
}

.comp-background{
    z-index: 200;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

.Computational{
    position: fixed;
    z-index: 200;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    border-radius: 30px;
    overflow-y: scroll;
    background-color: #5d5d5dc0;
}

.Computational::-webkit-scrollbar-button{
    height: 20px;
}

.comp-close-button{
    position: absolute;
    cursor: pointer;
    top: 2%;
    left: 98%;
    font-weight: 300;
    font-family: Arial;
    color: rgb(143, 143, 143);
}

.comp-close-button:hover{
    opacity: 0.5;
}

.comp-container{
    position: relative;
    width: 92%;
    margin: 4%; /* Margin of all data inside panel*/
    margin-bottom: 0%;
    padding-bottom: 3%;
    color: seashell;
}







.comp-container > .comp-top{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0%;
    margin-bottom: 2.5%;
}

.comp-container > .comp-top > .comp-text-1{
    position: relative;
    grid-column-start: 1;
    top: 0;
    margin-right: 5%;
    width: 95%;
}

.comp-container > .comp-top > .hex-sphere-img{
    position: relative;
    grid-column-start: 2;
    margin-left: 5%;
    width: 95%;
}

.comp-container > .comp-top > .hex-sphere-img > img{
    position: relative;
    border-radius: 20px;
    width: 100%;
}

.comp-container > .comp-top > .comp-text-1> h1{
    position: relative;
    width: 100%;
    text-transform: uppercase;
    margin: 0;
    font-size: 3em;
    font-weight: 300;
    color: #C6C6C6;
}

.comp-container > .comp-top > .comp-text-1 > p{
    position: relative;
    width: 100%;
    margin: 0;
    padding-left:5px;
    font-size: .9em;
    text-align: justify;
    color: #C6C6C6;
}

.comp-container > .comp-center{
    position: relative;
    width: 100%;
    margin: 0%;
    margin-bottom: 2.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.comp-container > .comp-center > .hex-path-img-{
    position: relative;
    grid-column-start: 1;
    margin-right: 5%;
    width: 95%;
}

.comp-container > .comp-center > .hex-path-img> video{
    position: relative;
    border-radius: 20px;
    width: 100%;
}

.comp-container > .comp-center > .comp-text-2{
    position: relative;
    grid-column-start: 2;
    margin-left: 5%;
    top: 0;
    width: 95%;
}

.comp-container > .comp-center > .comp-text-2> p{
    position: relative;
    width: 100%;
    margin: 0;
    padding-left:5px;
    font-size: .9em;
    text-align: justify;
    color: #C6C6C6;
}

.comp-container > .comp-bottom{
    position: relative;
    width: 100%;
    margin: 0%;
    margin-bottom: 4.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.comp-container > .comp-bottom > .comp-text-3{
    position: relative;
    grid-column-start: 1;
    margin-right: 5%;
    top: 0;
    width: 95%;
}

.comp-container > .comp-bottom > .comp-text-3> h1{
    position: relative;
    width: 100%;
    text-transform: uppercase;
    margin: 0;
    font-size: 3em;
    font-weight: 300;
    color: #C6C6C6;
}

.comp-container > .comp-bottom > .comp-text-3> p{
    position: relative;
    width: 100%;
    margin: 0;
    padding-left:5px;
    font-size: .9em;
    text-align: justify;
    color: #C6C6C6;
}

.comp-container > .comp-bottom > .spatial-img{
    position: relative;
    grid-column-start: 2;
    width: 100%;
}

.comp-container > .comp-bottom > .spatial-img > img{
    position: relative;
    border-radius: 20px;
    margin-left: 5%;
    width: 95%;
}

.more-info{
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 33%;
    min-width: 300px;
    text-align: center;
    font-weight: 300;
    padding: 1%;
    border-radius: 10px;
    color: #272727;
    background-color: #8E8E8E;
}

@media only screen and (max-width: 1100px) {
    .Computational{
        transform: translateX(-50%) translateY(-50%);
        height: auto;
        top: 50%;
    }
}