//Footer styles
footer{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    pointer-events: none;
    text-align: center;
    background-color: $backgroundColorBase;
}