#header{
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $headerColor;
    height: $headerHeight;
    
    #pageTitleContainer{
        position: relative;
        grid-column-start: 2;
        p{
            @include unselectableText;
            position: absolute;
            margin: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}